[Unit]
Description=Food Scan API Server
After=network.target

[Service]
# The setup script will automatically update User and Path if they differ,
# but we default to your current known environment.
User=dietpi
Group=dietpi
WorkingDirectory=/home/dietpi/food_scan_server
Environment="PATH=/home/dietpi/food_scan_server/venv/bin"
EnvironmentFile=/home/dietpi/food_scan_server/.env

# THIS IS WHERE THE PORT IS DESIGNATED
ExecStart=/home/dietpi/food_scan_server/venv/bin/uvicorn server:app --host 0.0.0.0 --port 8012

# Restart automatically if it crashes
Restart=always

[Install]
WantedBy=multi-user.target
